#resultsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centra las imágenes en la fila */
    gap: 40px; /* Más separación entre imágenes */
    width: 90%;
    margin: 20px auto;
}

.video-card {
    width: 24%; /* Tamaño más grande, pero manteniendo 4 por fila */
    margin-bottom: 40px; /* Más espacio entre las filas */
    position: relative;
    text-align: center; /* Centra el texto */
}

.video-card a {
    display: block;
    overflow: hidden;
    border-radius: 20px; /* Bordes más redondeados */
    transition: transform 0.3s ease;
}

.video-card img {
    width: 100%;
    height: 450px; /* Aumenté la altura */
    object-fit: cover;
    border-radius: 20px;
    display: block;
    transition: transform 0.3s ease;
}

.video-card 
